.logo-title {
  text-align: center;
}
.root {
  padding: 12px;
  width: 260px;
  height: 320px;
  margin: 0 auto;
  justify-content: center;
}
.ant-input,
.ant-input-password,
.ant-btn,
.ant-select-selector {
  border-radius: 0 !important;
}
.text-center {
  text-align: center;
}
